.banner {

    background-color: #3C6E71;
    width: auto;
    height: 120px;
    margin:auto;
    margin-top:-85px;
    justify-content: center;
    justify-content:0;
    align-items: center;
    display:flex;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    transition: margin-top 1s;
}
.banner:hover{
        margin-top:-50px;
        transition: margin-top 0.5s;
}
h1{
    justify-content: center;
    align-items: center;
    color: #284B63;
    font-size: 60px;
    margin:auto;
    display:flex;
}
body{
    background-color: #353535;
    margin:0px;
    padding:0px;
    width:auto;
}
html, body, div, h1, h2, p, .navbutton{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}
.resume{
    background-color: #f8f7f7;
    height:11in;
    width:8.5in;
    justify-content: center;
    display:flex;
    margin:auto;
    border-radius:10px;
}
p{
    display:flex;
    justify-content: center;
}
h3{
    font-size:40px;
}
h2{
    align-content: left;
    color: #284B63;
    font-style: bold;
}
.break{
    height:2px;
    width: 8in;
    background-color: black;
    border-radius:100px
}
.section{
    width:7.5in;
    margin-left:0.25in;
    margin-top:-0.15in;
}
.bulletpoints{
    margin-left:0.5in;
    margin-top:-0.15in;
    list-style-type: circle;
}
.navbutton{
    background-color:transparent;
    color: #d9d9d9;
    border:none;
    border-radius: 5px;
    transition: background-color 300ms;
    font-size:20px;
    margin-bottom:50px;
}
.navbutton:hover{
    background-color: #325a5c;
    cursor: pointer;
    text-decoration:underline;
}
.backgroundblock{
    margin:auto;
    width:90%; 
    background-color: #f8f7f7; 
    height:auto;
    border-radius:10px;
    padding:5px;
}